Repository pioneerspacesim/pioneer, pull requests merged in 2020-02, with the labels that each got.

#4776 Rewind PiGui stack in case of an error
  CMakeLists.txt
  data/libs/Equipment.lua
  data/libs/Game.lua
  data/libs/Player.lua
  data/libs/Ship.lua
  data/libs/SpaceStation.lua
  data/modules/Mining.lua
  data/pigui/pigui.lua
  data/pigui/views/game.lua
  src/lua/CMakeLists.txt
  src/lua/LuaUtils.cpp
  src/lua/core/CoreFwdDecl.h
  src/lua/core/Import.cpp
  src/lua/core/Sandbox.cpp
  src/pigui/PiGuiLua.cpp
  src/pigui/PiGuiLua.h
  src/pigui/PiGuiSandbox.cpp
Labels: Lua API, UI rewrite

#4779 Fix on-demand glyph loading
  src/PiGui.cpp
  src/PiGui.h
Labels: Bug fix, Crash or hang

#4786 New require() implementation
  data/pigui/pigui.lua
  data/ui/InfoView.lua
  data/ui/StationView.lua
  data/ui/StationView/BulletinBoard.lua
  data/ui/StationView/ChatForm.lua
  data/ui/StationView/CommodityMarket.lua
  data/ui/StationView/EquipmentMarket.lua
  src/lua/Lua.cpp
  src/lua/LuaUtils.h
  src/lua/core/CoreFwdDecl.h
  src/lua/core/Import.cpp
Labels: C++ code, Lua API, UI rewrite

#4813 Draw performance information with ImGui, new performance counter backend
  CMakeLists.txt
  contrib/profiler/Profiler.h
  src/PerfStats.cpp
  src/PerfStats.h
  src/Pi.cpp
  src/graphics/Stats.cpp
  src/graphics/Stats.h
  src/lua/LuaEngine.cpp
  src/lua/LuaPiGui.cpp
  src/pigui/PerfInfo.cpp
  src/pigui/PerfInfo.h
  src/pigui/PiGui.cpp
  src/pigui/PiGui.h
Labels: Cleanup, Optimization, UI rewrite
