Repository pioneerspacesim/pioneer, pull requests merged in 2022-01, with the labels that each got.

#5315 Add new Ship Equipment Display implementation
  data/icons/icons.svg
  data/lang/equipment-core/en.json
  data/lang/ui-core/en.json
  data/libs/Equipment.lua
  data/libs/utils.lua
  data/pigui/baseui.lua
  data/pigui/libs/buttons.lua
  data/pigui/libs/equipment-market.lua
  data/pigui/libs/forwarded.lua
  data/pigui/libs/icons.lua
  data/pigui/libs/rescale-ui.lua
  data/pigui/libs/ship-equipment.lua
  data/pigui/libs/text.lua
  data/pigui/libs/wrappers.lua
  data/pigui/modules/info-view/01-ship-info.lua
  data/pigui/modules/info-view/03-econ-trade.lua
  data/pigui/modules/station-view/05-equipmentMarket.lua
  data/pigui/modules/time-window.lua
  data/pigui/themes/default.lua
  src/graphics/opengl/RendererGL.cpp
  src/lua/Lua.cpp
  src/lua/LuaPiGui.cpp
Labels: Cosmetic or UI, New feature, Lua code

#5239 SystemView Atlas Mode
  data/lang/core/en.json
  data/lang/ui-core/en.json
  data/pigui/libs/forwarded.lua
  data/pigui/libs/text.lua
  data/pigui/modules/fx-window.lua
  data/pigui/modules/radar.lua
  data/pigui/modules/system-view-ui.lua
  data/pigui/themes/default.lua
  data/pigui/views/system-info-view.lua
  src/Game.cpp
  src/Game.h
  src/LangStrings.inc.h
  src/SectorView.cpp
  src/SystemView.cpp
  src/SystemView.h
  src/enum_table.cpp
  src/enum_table.h
  src/galaxy/SystemBody.cpp
  src/graphics/Drawables.cpp
  src/lua/LuaGame.cpp
  src/lua/LuaSystemView.cpp
  src/matrix4x4.h
  src/vector2.h
Labels: Cosmetic or UI, New feature

#5327 Add System Overview Widget to System Map view
  data/libs/utils.lua
  data/pigui/baseui.lua
  data/pigui/libs/text.lua
  data/pigui/libs/window-layout.lua
  data/pigui/modules/flight-ui/system-overview.lua
  data/pigui/modules/system-overview-window.lua
  data/pigui/modules/system-view-ui.lua
  data/pigui/views/map-sector-view.lua
  src/SectorView.cpp
  src/Space.cpp
  src/SystemView.cpp
  src/SystemView.h
  src/graphics/RenderState.h
  src/graphics/opengl/RenderStateCache.cpp
  src/lua/LuaSystemBody.cpp
  src/lua/LuaSystemView.cpp
Labels: Cosmetic or UI, Lua code

#5323 Xylophis overhaul
  data/models/ships/xylophis/pattern01.dds
  data/models/ships/xylophis/pattern02.dds
  data/models/ships/xylophis/pattern03.dds
  data/models/ships/xylophis/pattern04.dds
  data/models/ships/xylophis/pattern05.dds
  data/models/ships/xylophis/pattern06.dds
  data/models/ships/xylophis/pattern07.dds
  data/models/ships/xylophis/xylophis.dae
  data/models/ships/xylophis/xylophis.model
  data/models/ships/xylophis/xylophis_coll.dae
  data/models/ships/xylophis/xylophis_diff.dds
  data/models/ships/xylophis/xylophis_glow.dds
  data/models/ships/xylophis/xylophis_hi.dae
  data/models/ships/xylophis/xylophis_int_diff.dds
  data/models/ships/xylophis/xylophis_lo.dae
  data/models/ships/xylophis/xylophis_low.dae
  data/models/ships/xylophis/xylophis_med.dae
  data/models/ships/xylophis/xylophis_norm.png
  data/models/ships/xylophis/xylophis_shield.dae
  data/models/ships/xylophis/xylophis_spec.dds
Labels: Art
