Repository pioneerspacesim/pioneer, pull requests merged in 2022-12, with the labels that each got.

#5430 Rewritten and Improved City Generation for Spaceports
  data/configs/buildings/default.json
  data/modules/Debug/DebugShipSpawn.lua
  data/modules/Debug/DebugShipSpawn.moon
  src/CityOnPlanet.cpp
  src/CityOnPlanet.h
  src/GameConfig.cpp
  src/GeoSphere.cpp
  src/Pi.cpp
  src/SpaceStation.cpp
  src/core/Log.cpp
  src/lua/LuaShip.cpp
Labels: New feature, C++ code

#5431 Add Sidebars to the Flight UI
  data/lang/ui-core/en.json
  data/libs/EquipSet.lua
  data/libs/Player.lua
  data/libs/Ship.lua
  data/libs/utils.lua
  data/meta/Constants.lua
  data/meta/CoreObject/Body.meta.lua
  data/meta/CoreObject/Game.meta.lua
  data/meta/CoreObject/ModelBody.meta.lua
  data/meta/CoreObject/Player.meta.lua
  data/meta/CoreObject/Ship.meta.lua
  data/meta/Vector.lua
  data/meta/_Core.lua
  data/pigui/baseui.lua
  data/pigui/libs/buttons.lua
  data/pigui/libs/commodity-market.lua
  data/pigui/libs/forwarded.lua
  data/pigui/libs/icons.lua
  data/pigui/libs/ship-equipment.lua
  data/pigui/libs/sidebar.lua
  data/pigui/libs/text.lua
  data/pigui/libs/view-util.lua
  data/pigui/libs/wrappers.lua
  data/pigui/modules/autopilot-window.lua
  data/pigui/modules/comms.lua
  data/pigui/modules/flight-ui/gauges.lua
  data/pigui/modules/flight-ui/system-overview.lua
  data/pigui/modules/fx-window.lua
  data/pigui/modules/saveloadgame.lua
  data/pigui/modules/ship-internals-window.lua
  data/pigui/modules/sidebar/cargo.lua
  data/pigui/modules/system-overview-window.lua
  data/pigui/modules/system-view-ui.lua
  data/pigui/themes/default.lua
  data/pigui/views/game.lua
  scripts/scan_enums.py
  src/lua/LuaEngine.cpp
  src/lua/LuaPiGui.cpp
  src/lua/core/Import.cpp
  src/pigui/PiGuiSandbox.cpp
Labels: Cosmetic or UI, UI rewrite, Lua code

#5429 Implementation of target selection.
  data/lang/input-core/en.json
  src/Sensors.cpp
  src/Sensors.h
  src/Ship-AI.cpp
  src/Ship.h
  src/ShipAICmd.h
  src/Space.cpp
  src/Space.h
  src/ship/PlayerShipController.cpp
  src/ship/PlayerShipController.h
Labels: New feature, Input
